* {
    margin: 0;
    padding: 0;
   }
  
   @font-face{
      font-family:"testeeee";
      src:url('../Hello.otf');
      
      
  }
  
  
  .talkinghands{
    font-family:"testeeee"; 
  
    bottom: -3px;
    color: aliceblue;
    font-size: 32px;
    position: relative;
    left: 588px;
       } 
   
   .menu {
    width: 100%;
    height: 50px;
    background: rgb(238, 93, 49);
    font-size: 20px;
    font-family:"Thatcher";
   }
  
   .menu ul {
    list-style: none;
    position: relative;
   }
  
   .menu ul li {
    width: 190px;
    /*background: tomato;*/
    float: left;
   }
  
   .menu a {
    background-color: rgb(238, 93, 49);
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
   }
  
   .menu a:hover {
    background-color:rgb(238, 93, 49);
    color: #fff;
   }
  
   .menu ul ul {
    position: absolute;
    visibility: hidden;
   }
  
   .menu ul li:hover ul {
    visibility: visible;
   }
  
   .menu ul ul li {
    float: none;
    border-bottom: solid 1px #ADD8E6;
   }
  
   .menu ul ul li a {
    background-color: rgb(238, 93, 49);
   }
  
   label[for="bt_menu"] {
    padding: 5px;
    background-color: rgb(247, 171, 144);
    color:#fff;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
   }
  
   #bt_menu {
    display: none;
   }
  
   @media (max-width: 800px) {
    label[for="bt_menu"] {
     display: block;
    }
  
    #bt_menu:checked ~ .menu {
     margin-left: 0;
    }
  
    .menu {
     margin-top: 5px;
     margin-left: -100%;
     transition: all .4s;
    }
  
    .menu ul li {
     width: 100%;
     float: none;
    }
    .menu ul ul {
     position: static;
     overflow: hidden;
     max-height: 0;
     transition: all .8s;
    }
    .menu ul li:hover ul {
     height: auto;
     max-height: 200px;
    }
   }
  
   button.css3button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 20px;
  background: -webkit-gradient(
   linear, left top, left bottom,
   from(rgb(238, 93, 49)),
   to(rgb(238, 93, 49)));
  background: linear-gradient(
   top,
   rgb(rgb(238, 93, 49)) 0%,
   rgb(238, 93, 49));
  border-radius: 10px;
  border: 3px solid #ffffff;
  box-shadow:
   0px 1px 3px rgba(000,000,000,0.5),
   inset 0px 0px 3px rgba(255,252,253,1);
  text-shadow:
   0px -1px 0px rgba(000,000,000,0.1),
   0px 1px 0px rgba(255,255,255,1);
  }
  
  .btns{
  text-align:center;
  margin-top:50px;
  }
  
  .botao1 {
    width:150px;
    height:59px;
  border:none;
  color:rgb(170, 38, 38);
  padding:20px;
  margin: 10px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  }
  
  .botao1{
  background:rgb(238, 93, 49);
  }
  
  .botao1:hover{
  background:rgba(0,0,0,0);
  color:rgb(238, 93, 49);
  box-shadow:inset 0 0 0 3px rgb(238, 93, 49);
  }
  
  .botao2{
  width:150px;
  height:59px;
  border:none;
  color:rgb(107, 24, 24);
  padding:20px;
  margin: 10px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  }
  
  .botao2{
  background:rgb(238, 93, 49);
  }
  
  .botao2:hover{
  background:rgba(0,0,0,0);
  color:rgb(238, 93, 49);
  box-shadow:inset 0 0 0 3px rgb(238, 93, 49);
  }
  
  .botao3 {
  width:150px;
  height:59px;
  border:none;
  color:rgb(231, 47, 47);
  padding:20px;
  margin: 10px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  }
  
  .botao3{
  background:rgb(238, 93, 49);
  }
  
  .botao3:hover{
  background:rgba(0,0,0,0);
  color:rgb(238, 93, 49);
  box-shadow:inset 0 0 0 3px rgb(238, 93, 49);
  }
  
  .botao4 {
    width:150px;
          height:59px;
  border:none;
  color:rgb(107, 24, 24);
  padding:20px;
  margin: 10px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  }
  
  .botao4{
  background:rgb(238, 93, 49);
  }
  
  .botao4:hover{
  background:rgba(0,0,0,0);
  color:rgb(238, 93, 49);
  box-shadow:inset 0 0 0 3px rgb(238, 93, 49);
  }
  
  .carta02{
  border:none;
  color:rgb(231, 47, 47);
  padding:20px;
  margin: 10px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  }
  
  .container{
      position: relative;
      width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      }
  
      .image {
      display: block;
      width: 79%;
      height: auto;
      }
  
      .overlay {
      position: absolute;
      bottom: 29px;
      left: 34px;
      right: 3px;
      background-color: rgb(238, 93, 49);
      border-radius: 15px;
      overflow: hidden;
      width: 75%;
      height: 0%;
      transition: .5s ease;
      }
  
      .container:hover .overlay {
      height: 86%;
      }
  
      .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      }
  
      
      .handsheart{
        position:absolute;
        bottom:190px;
        left:150px;
        right:0;
        width:30%;
      }
  
      
  
      .handsheart2{
        position:absolute;
        bottom:190px;
        left:810px;
        right:0;
        width:30%;
      }
  
      .imgCarta02{
        border:none;
        color:rgb(231, 47, 47);
        padding:20px;
        margin: 10px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 400ms ease;
        }
        .botaoTeste1{
        width:150px;
        height:59px;
        border:none;
        color:rgb(231, 47, 47);
        padding:20px;
        margin: 10px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 400ms ease;
        }
                                  
        .botaoTeste1{
        background:rgb(238, 93, 49);
        }
                                  
        .botaoTeste1:hover{
        background:rgba(0,0,0,0);
        color:rgb(238, 93, 49);
        box-shadow:inset 0 0 0 3px rgb(238, 93, 49);
        }
  
        .botao5{
          width:150px;
          height:59px;
        border:none;
        color:rgb(231, 47, 47);
        padding:20px;
        margin: 10px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 400ms ease;
        }
        
        .botao5{
        background:rgb(238, 93, 49);
        }
        
        .botao5:hover{
        background:rgba(0,0,0,0);
        color:rgb(238, 93, 49);
        box-shadow:inset 0 0 0 3px rgb(238, 93, 49);
        }